.Card {
  width: 200px;
  background-color: #fff;
  margin: 20px 0;
  height: 350px;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  background: #153133;
}

.Card img {
  width: 200px;
  height: 200px;
  border-bottom: rgb(202, 191, 191) solid 0.2px;
}

.Card p {
  font-size: 15px;
  margin: 5px;
  color: wheat;
}
.Card button {
  margin-top: 15px;
  padding: 5px 10px;
  border: solid rgb(202, 191, 191) 1px;
  border-radius: 2px;
  background: #153133;
  color: rgb(214, 192, 192);
  cursor: pointer;
}
